/* @tailwind base;
@tailwind components; */

.relative {
  position: relative
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.flex-col {
  flex-direction: column
}

.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse))
}